<!-- practice-offer-list-admin.component.html -->
<div class="user-container">
  <div class="user-box">
    <h2>Gestión de Usuarios</h2>
    <br>
    <div class="d-flex justify-content-between mb-3">
      <a class="btn btn-primary" routerLink="/users-admin/creation" role="button">Nuevo Usuario</a>
      <button class="btn btn-success" (click)="exportToExcel()">
        <i class="fas fa-file-excel"></i>&nbsp;Exportar a Excel
      </button>
    </div>
    <div class="d-flex mb-3 justify-content-between align-items-end">
      <div class="search-container">
        <label for="search-input" class="form-label">Buscador</label>
        <input id="search-input" type="text" placeholder="Buscar..." [(ngModel)]="searchTerm"
          (ngModelChange)="filterRecords()" class="form-control search-bar" />
      </div>
      <div class="items-page-container">
        <label for="items-page-input" class="form-label">Items por página</label>
        <input id="items-page-input" type="number" [(ngModel)]="itemsPageAmount" (ngModelChange)="updateItemsPerPage()"
          class="form-control items-per-page" placeholder="Items por página" />
      </div>
    </div>
    <div class="col-md-12 col-sm-12 d-flex justify-content-center" *ngIf="isLoading">
      <div class="spinner-border" style="width: 5rem; height: 5rem; margin-bottom: 3%;" role="status">
      </div>
    </div>
    <div *ngIf="!isLoading" class="table-responsive">
      <table class="table table-bordered">
        <thead class="table-dark">
          <tr>
            <th style="width: 120px;">Nombre</th>
            <th style="width: 120px;">Apellido</th>
            <th style="width: 300px;">Identificación</th>
            <th style="width: 120px;">Correo Electrónico</th>
            <th style="width: 130px;">Teléfono</th>
            <th style="width: 130px;">Institución Educativa</th>
            <th style="width: 80px;">Facultad</th>
            <th style="width: 100px;">Carrera</th>
            <th style="width: 130px;">Rol</th>
            <th style="width: 100px;">Editar</th>
            <th style="width: 100px;">Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let r of filteredRecordList | paginate: { itemsPerPage: itemsPageAmount, currentPage: page }">
            <td>{{ r.name }}</td>
            <td>{{ r.lastName }}</td>
            <td>{{ r.identification }}</td>
            <td>{{ r.username }}</td>
            <td>{{ r.phone }}</td>
            <td>{{ r.educationalInstitution}}</td>
            <td>{{ r.faculty }}</td>
            <td>{{ r.career }}</td>
            <td>{{ r.roleId }}</td>
            <td>
              <button type="button" class="btn btn-warning"
                [routerLink]="['/users-admin/edition', r.id, r.username]">Editar</button>
            </td>
            <td>
              <button type="button" class="btn btn-danger" (click)="RemoveRecordConfirmation(r.id)">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <pagination-controls previousLabel="Anterior" nextLabel="Siguiente"
      (pageChange)="page = $event"></pagination-controls>
  </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="deleteModalLabel">Confirmación eliminación de registro</h1>
        <button type="button" class="btn-close" (click)="closeQuestionModal('deleteModal')" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ¿Está seguro en eliminar el registro seleccionado?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeQuestionModal('deleteModal')">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="RemoveRecord()">Aceptar</button>
      </div>
    </div>
  </div>
</div>