<!-- Footer -->
<footer class="footer-custom">
  <div class="container-fluid text-center text-md-left">
    <div class="row">
      <div class="col-md-6 mt-md-0 mt-3">
        <!-- Content -->
        <h5 class="text-uppercase">Gestión de Practicantes</h5>
        <p>Esta es una plataforma dedicada a la administración y seguimiento de practicantes.</p>
      </div>
      <div class="col-md-6 mb-md-0 mb-3">
        <!-- Links -->
        <h5 class="text-uppercase">Enlaces Útiles</h5>
        <ul class="list-unstyled">
          <li><a href="https://www.ucaldas.edu.co/portal/">Portal Universidad de Caldas</a></li>
          <li><a href="https://viceacademica.ucaldas.edu.co/pregrados-presenciales/">Pregrados Presenciales</a></li>
          <li><a href="https://www.linkedin.com/school/universidad-de-caldas/?originalSubdomain=co">LinkedIn</a></li>
        </ul>
      </div>
    </div>
  </div>
  <br>
  <div class="text-center py-3">
    © 2024 Derechos Reservados: Universidad de Caldas
  </div>
</footer>
