<div class="login-container">
    <div class="login-box">
      <div class="avatar">
        <img src="/assets/images/restablecer-la-contrasena.png" alt="User Icon" />
      </div>
      <h2>Reestablecer contraseña</h2>
      <form [formGroup]="fgValidator">
        <div class="input-box">
          <input type="text" formControlName="username" placeholder="Usuario" required>
          <div *ngIf="fgv['username'].errors && (fgv['username'].dirty || fgv['username'].touched)">
            <p *ngIf="fgv['username'].errors['required']">Usuario es requerido.</p>
            <p *ngIf="fgv['username'].errors['minlength']">El usuario debe tener al menos tres caracteres de longitud.</p>
          </div>
        </div>
        <div class="input-box">
          <label for="sendMethodValue">Método de envío:</label>
          <select formControlName="type" id="sendMethodValue">
            <option selected value="1">Mensaje de texto</option>
            <option value="2">Correo electrónico</option>
          </select>
        </div>
        <button type="submit" class="login-btn">Reestablecer</button>
      </form>
      <a href="/security/login">Regresar al inicio de sesión</a>
    </div>
  </div>
  