.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #e0e0e0;
  }
  
  .login-box {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 350px;
    text-align: center;
  }
  
  .avatar img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  
  
  .input-box {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
  }
  
  .input-box input, .input-box select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 5px;
  }
  
  .input-box label {
    align-self: flex-start;
    margin-bottom: 5px;
  }
  
  .login-btn {
    background-color: #0056b3;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
  }
  
  .login-btn:hover {
    background-color: #004080;
  }
  
  .login-box a {
    display: block;
    margin-top: 20px;
    color: #0056b3;
    text-decoration: none;
  }
  