/* Custom Navbar Styles */
.navbar-custom {
    background-color: #2c3e50; /* Updated to a sleek navy blue */
    border-bottom: 3px solid #3498db; /* Brighter blue border for an elegant accent */
}

.navbar-custom .container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.navbar-custom .navbar-brand {
    color: #ecf0f1; /* Soft white text for the brand */
    font-weight: bold; /* Bold the brand name */
    padding-left: 1rem; /* Left padding */
}

.navbar-custom .navbar-nav .nav-link {
    color: #bdc3c7; /* Soft gray for readable nav links */
    margin-right: 1rem; /* Space between nav items */
    transition: color 0.3s ease-in-out; /* Smooth transition for hover effect */
}

.navbar-custom .navbar-nav .nav-link:hover {
    color: #ecf0f1; /* White text on hover for better contrast */
}

.navbar-custom .navbar-toggler {
    border-color: #3498db; /* Toggler icon border color */
}

.navbar-custom .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=UTF-8,<svg ... >...</svg>"); /* Updated SVG for toggler */
}

.navbar-custom .nav-item.active .nav-link {
    color: #ecf0f1; /* Soft white text for the brand */
    font-weight: bold; /* Bold the brand name */
    padding-left: 1rem; /* Left padding */
   
}

/* Responsive adjustments */
@media (max-width: 991px) {
    .navbar-custom .navbar-collapse {
        background-color: #2c3e50; /* Consistent background color for dropdowns on smaller screens */
    }

    .navbar-custom .navbar-brand, .nav-link
    .navbar-custom .navbar-nav {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}
