<!-- login.component.html -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

<div class="login-container">
  <div class="login-box">
    <div class="avatar">
        <img src="/assets/images/cambiar-contrasena.png" alt="User Icon" />
      </div>
    <h2>Cambiar contraseña</h2>
    <br>
    <div class="spinner-container" *ngIf="isLoading">
      <div class="spinner-content">
        <div class="spinner-border text-primary" role="status">
        </div>
      </div>
    </div>
    <form [formGroup]="fgValidator">
       <!-- Campo para la contraseña -->
       <div class="input-box">
        <label for="newPassword">Nueva Contraseña</label>
        <input type="password" formControlName="newPassword" id="newPassword" placeholder="Nueva Contraseña" required>
        <div class="warning-validator" *ngIf="fgv['newPassword'].errors && (fgv['newPassword'].dirty || fgv['newPassword'].touched)">
          <strong *ngIf="fgv['newPassword'].errors['required']">Este campo es obligatorio.</strong>
          <strong *ngIf="fgv['newPassword'].errors['minlength']">Este campo debe tener al menos 8 caracteres.</strong>
        </div>
      </div>
      <!-- Campo para confirmar la contraseña -->
      <div class="input-box">
        <label for="confirmPassword">Confirmar Contraseña</label>
        <input type="password" formControlName="confirmPassword" id="confirmPassword" placeholder="Confirmar Contraseña" required>
        <div class="warning-validator" *ngIf="fgv['confirmPassword'].errors && (fgv['confirmPassword'].dirty || fgv['confirmPassword'].touched)">
          <strong *ngIf="fgv['confirmPassword'].errors['required']">Este campo es obligatorio.</strong>
          <strong *ngIf="fgv['confirmPassword'].errors['isMatching'] === false">Las contraseñas no coinciden.</strong>
        </div>
      </div>
      <div class="form-group">
        <button type="submit" (click)="ChangePassword()" class="login-btn">Cambiar Contraseña</button>
      </div>
    </form>
  </div>
</div>
