<div class="text-center">
    <h1>Ofertas a las que Aplicaste</h1>
</div>

<br />

<div class="row">
    <div class="col-md-4 col-sm-12" *ngIf="!loading">
        <div class="card" *ngFor="let practiceOffer of practiceOfferListUser; index as i;">
            <div class="card-body">
                <h5 class="card-title">{{ practiceOffer.faculty }}</h5>
                <p class="card-text">{{ practiceOffer.description }}</p>
                <p class="card-text"><strong>Estado:</strong> {{ practiceOffer.status }}</p>
                <p class="card-text"><strong>Aplicaste el {{ practiceOffer.createdAt }}</strong></p>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 d-flex justify-content-center" *ngIf="loading">
        <div class="spinner-border" style="width: 5rem; height: 5rem; margin-bottom: 3%;" role="status">
        </div>
    </div>
</div>
