<div class="text-center">
    <h1>Ofertas de Pr&aacute;ctica</h1>
</div>

<br />

<div class="row">
    <div class="col-md-6 col-sm-12" *ngIf="!loading">
        <div class="card" *ngFor="let practiceOffer of practiceOfferList; index as i;"
            (click)="viewPracticeOffer(practiceOffer, i)" [ngClass]="{'selectedCard': selectedIndex == i}">
            <div class="card-body">
                <h5 class="card-title">{{ practiceOffer.faculty }}</h5>
                <p class="card-text">{{ practiceOffer.description }}</p>
                <button (click)="openQuestionModal()" class="btn btn-primary"
                    *ngIf="!IsApplyPostulation(practiceOffer.id)">Postularme</button>
                <p class="card-text" *ngIf="IsApplyPostulation(practiceOffer.id)"><strong>Ya aplicaste a esta
                        oferta</strong></p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-12 d-flex justify-content-center" *ngIf="loading">
        <div class="spinner-border" style="width: 5rem; height: 5rem; margin-bottom: 3%;" role="status">
        </div>
    </div>
    <div class="col-md-6">
        <p><strong>Descripción de la oferta:</strong></p>
        <p>{{ practiceOffer.description }}</p>
        <p><strong>Semestre:</strong> {{ practiceOffer.year }}-{{ practiceOffer.semester }}</p>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalQuestion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Formulario de Postulaci&oacute;n</h1>
                <button type="button" class="btn-close" (click)="closeQuestionModal()" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="fgValidator" class="registration-form" *ngIf="loadedForm && practiceOffer.formSchema">
                    <!-- Campo para el código -->
                    <div class="input-field full-width" *ngFor="let question of practiceOffer.formSchema?.fields">
                        <label [for]="question.name.toString()" class="form-label">{{ question.label.toString() }}</label>
                        <input *ngIf="question.type != 'select'" [type]="question.type" class="form-control" [id]="question.name.toString()" [formControlName]="question.name.toString()" [placeholder]="question.label.toString()">
                        <select class="form-select" aria-label="Default select example" [formControlName]="question.name.toString()" *ngIf="question.type == 'select'">
                            <option value="" selected>Seleccione una opci&oacute;n</option>
                            <option *ngFor="let option of question.options" [value]="option.value?.toString()">{{ option.label }}</option>
                          </select>
                        <div class="warning-validator" *ngIf="fgv[question.name.toString()]?.errors && (fgv[question.name.toString()]?.dirty || fgv[question.name.toString()]?.touched)">
                            <strong *ngIf="fgv[question.name.toString()].errors?.['required']">Este campo es obligatorio.</strong>
                        </div>
                    </div>
                    <div class="file-upload-container" style="margin-top: 4%;">
                        <input #fileInput type="file" id="ipLoadFile" (change)="onFileSelected($event)" accept=".pdf, .docx" style="display: none;" multiple />
                        <button (click)="uploadFile()" class="btn btn-primary">Cargar Archivo</button>
                        <table *ngIf="files.length > 0" class="table" style="margin-top: 4%;">
                            <thead>
                              <tr>
                                <th scope="col">Nombre del archivo</th>
                                <th scope="col">Acci&oacute;n</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let file of files; let i = index">
                                <td>{{ file.name }}</td>
                                <td><button (click)="removeFile(i)" class="btn btn-danger btn-sm"><fa-icon [icon]="faXmark"></fa-icon></button></td>
                              </tr>
                            </tbody>
                          </table>
                        <!-- <button (click)="uploadFiles()">Upload</button> -->
                      </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="closeQuestionModal()">Cerrar</button>
                <div class="col-md-6 col-sm-12 d-flex justify-content-center" *ngIf="loadingPostulation">
                    <div class="spinner-border" style="width: 2rem; height: 2rem; margin-bottom: 3%;" role="status">
                    </div>
                </div>
                <button type="button" class="btn btn-primary" (click)="ApplyPostulation(practiceOffer.id)" *ngIf="!loadingPostulation" [disabled]="loadedForm && !fgValidator.valid">Enviar Postulaci&oacute;n</button>
            </div>
        </div>
    </div>
</div>
