<!-- login.component.html -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

<div class="login-container">
  <div class="login-box">
    <div class="avatar">
      <img src="/assets/images/acceso.png" alt="User Icon" />
    </div>
    <h2>Inicio de sesión</h2>
    <br>
    <div class="spinner-container" *ngIf="isLoading">
      <div class="spinner-content">
        <div class="spinner-border text-primary" role="status">
        </div>
      </div>
    </div>
    <form [formGroup]="fgValidator">
      <div class="input-box">
        <label for="username">Usuario</label>
        <input type="text" formControlName="username" id="username" placeholder="Usuario" required>
        <div class="warning-validator" *ngIf="fgv['username'].errors && (fgv['username'].dirty || fgv['username'].touched)">
          <strong *ngIf="fgv['username'].errors['required']">Usuario es requerido.</strong>
          <strong *ngIf="fgv['username'].errors['minlength']">El usuario debe tener al menos tres caracteres de longitud.</strong>
        </div>
      </div>
      <div class="input-box">
        <label for="password">Contraseña</label>
        <input type="password" formControlName="password" id="password" placeholder="Contraseña" required>
        <div class="warning-validator" *ngIf="fgv['password'].errors && (fgv['password'].dirty || fgv['password'].touched)">
          <strong>La contraseña es requerida.</strong>
        </div>
      </div>
      <div class="form-group">
        <button type="submit" (click)="LoginUser()" class="login-btn">Iniciar sesión</button>
      </div>
    </form>
    <a href="/users/register" class="forgot-password">Registrarse</a>
    <a href="/security/reset-password" class="forgot-password">¿Olvidé mi contraseña?</a>
  </div>
</div>
